/* STOCKS */
.stocks {
    position: relative;
    scroll-margin-top: 7em;
}

.stocks-all-info {
    position: relative;
    margin-top: 89px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    align-items: center;
}

.stocks-all-info .st_text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: clamp(57.5rem, 10.25rem + 52.5vw, 73.25rem);
}

.st_text h2 {
    max-width: 881px;
}

.stocks-all-info .st_text .offers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.stocks-all-info .st_text .offers .offer {
    display: flex;
    align-items: center;
    gap: 15px;
}

.stocks-all-info .st_text .offers .offer img {
    max-width: 20px;
    width: 100%;
}

.stocks-all-info .st_text .bt_st {
    margin-top: 41px;
}

.bt_st a {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 500;
    padding: 20px 83px;
    background-color: #0079C2;
    color: #fff;
    border: 2px solid #0079C2;
    border-radius: 5px;
    transition: 0.6s all;
}

.bt_st a:hover {
    background-color: #ffffff;
    color: #0079C2;
}

.stocks-all-info .st-img {
    position: absolute;
    top: -30px;
    right: 0;
    z-index: -1;

}

.stocks-all-info .st-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* NEW */
.news {
    scroll-margin-top: 5em;
    margin-top: 330px;
    margin-bottom: 100px;
}

.news .container h3 {
    padding-bottom: 85px;
}

/* CARDS_NEW */
.cards-new {
    display: flex;
    justify-content: space-between;
}

.card_new {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding: 31px 24px;
    max-width: 317px;
    width: 100%;
    border: 1px solid #D9D9D9;
    border-radius: 6px;
}

.card_new img {
    max-width: 317px;
    width: 100%;
    border-radius: 6px;
}

.card_new p {
    max-width: 317px;
    width: 100%;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.card_new .bt_nw {
    margin-top: 12px;
}

.card_new .bt_nw a {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 12px 109px;
    color: #000000;
    border: 2px solid #0079C2;
    border-radius: 5px;
    transition: 0.6s all;
}

.card_new .bt_nw a:hover {
    background-color: #0079C2;
    color: #fff;
}

/* ABOUT_US */
.about-us .container h3 {
    padding-bottom: 23px;
}

.ab_text {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.ab_text h4 {
    max-width: 792px;
    width: 100%;
}

.ab_text img {
    max-width: 358px;
    width: 100%;
}

/* COMAND */
.cm-main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

.cm-main .cm-text {
    display: flex;
    flex-direction: column;
    gap: 69px;
    max-width: 750px;
}

.cm-main .cm-text .cm_numbers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-items: start;
}

.cm_numbers .num-s {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.4s all;
}

.cm_numbers .num-s:hover {
    color: #0079C2;
}

.cm_numbers .num-s h4 {
    letter-spacing: 5px;
}

.cm-main .cm-img {
    max-width: 548px;
    width: 100%;
}

.cm-main .cm-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* SERVICES */
.services .container h3 {
    padding-bottom: 85px;
}

.services .container .card-services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card-services .cd_serv {
    display: flex;
    padding-right: 3px;
    max-width: 642px;
    width: 100%;
    border: 1px solid #D9D9D9;
    border-radius: 6px;
    overflow: hidden;
}

.card-services .cd_serv .serv-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 0px 30px 30px;
}

.serv-main .serv-txt {
    display: flex;
    flex-direction: column;
    max-width: 335px;
    width: 100%;
    gap: 14px;
}

.serv-main .bt_serv a {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 12px 109px;
    color: #000000;
    border: 2px solid #0079C2;
    border-radius: 5px;
    transition: 0.8s all;
}

.serv-main .bt_serv a:hover {
    background-color: #0079C2;
    color: #fff;
}

.card-services .cd_serv .serv-img {
    border-top-right-radius: 6px;
    max-width: 295px;
    width: 100%;
}

/* EQUIPMENT */
.equipment .container h3 {
    padding-bottom: 85px;
}

.equipment .container .equment-cards {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 37px;
    max-width: 1305px;
    width: 100%;
}

.eqmnt-cards {
    display: flex;
    justify-content: space-between;
}

.eqmnt-cards .eqmnt-cd {
    display: flex;
    flex-direction: column;
    padding: 1px;
    max-width: 410px;
    width: 100%;
    border: 1px solid #D9D9D9;
    border-radius: 6px;
    overflow: hidden;
    transition: 0.4s all;
    color: #000000;
}

.eqmnt-cards .eqmnt-cd:hover {
    color: #0079C2;
}

.eqmnt-cards .eqmnt-cd img {
    display: block;
    transition: 0.8s all;
}

.eqmnt-cards .eqmnt-cd img:hover {
    transform: scale(1.05);
}

.eqmnt-cards .eqmnt-cd h6 {
    padding-left: 29px;
    padding-bottom: 29px;
}

.eqmnt-cards2 {
    display: flex;
    justify-content: space-between;
}

.eqmnt-cards2 .eqmnt-cd {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1px;
    max-width: 633px;
    width: 100%;
    border: 1px solid #D9D9D9;
    border-radius: 6px;
    overflow: hidden;
    transition: 0.4s all;
    color: #000000;
}

.eqmnt-cards2 .eqmnt-cd:hover {
    color: #0079C2;
}

.eqmnt-cards2 .eqmnt-cd img {
    display: block;
    transition: 0.8s all;
}

.eqmnt-cards2 .eqmnt-cd img:hover {
    transform: scale(1.05);
}

.eqmnt-cards2 .eqmnt-cd h6 {
    padding-left: 29px;
    padding-bottom: 29px;
}

/* REVIEWS */
.reviews .container h3 {
    padding-bottom: 85px;
}

.reviews .container .swiper-slide {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
}

.swiper-wrapper {
    padding-left: 50px;
}

.swiper-slide .rew-cd {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    max-width: 330px;
    width: 100%;
    height: 180px;
    border: 1px solid #D9D9D9;
    border-radius: 6px;
    overflow: hidden;
}

/* QUESTION */
.questions .container h3 {
    padding-bottom: 85px;
}

.questions .container .slide-doggel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.box {
    display: flex;
    flex-direction: column;
    padding: 25px 50px;
    max-width: 1184px;
    width: 100%;
    border: 1px solid #D9D9D9;
    border-radius: 6px;
    cursor: pointer;
}

.box .js-doggel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.doggel-container {
    transition: max-height 0.35s ease-in-out;
    overflow: hidden;
    max-height: 0;
}

.doggel-container p {
    padding-top: 27px;
}

.doggel-container.active {
    max-height: 200px;
}