.news .container h3 {
    margin-bottom: clamp(1.563rem, 0.813rem + 3.75vw, 5.313rem);
}

.news-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 85px;
}

.news-main .new-title {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    gap: 30px;
}

.news-main .new-title img {
    max-width: 430px;
    width: 100%;
    border-radius: 6px;
}

.news-main .new-title .nw-text {
    display: flex;
    flex-direction: column;
    gap: 30px;

}